.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(000, 000, 000, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;

  transition-delay: 0s;
}

.header {
  font-size: 40px;
  color: #fff;
  text-align: center;
  line-height: 60px;

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.button {
  margin: 20px auto;
  width: 280px;
  height: 80px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  background-color: #fb0;
  border-radius: 0px;
  border: 5px dashed #fff;
  color: #000;

  @media (max-width: 500px) {
    font-size: 10px;
    width: 220px;
    height: 60px;
  }
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
