.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  min-height: 400px;
  background-color: #0000004d;
  position: relative;
  padding: 40px 0px;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    color: #fff;
    font-size: 44px;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: #000;
    margin: 15px 0px;
    text-align: center;
    width: 100%;
    background-color: rgba(000, 000, 000, 0.5);
    padding: 20px 0px;
  }
}

@media (max-width: 560px) {
  .menu {
    width: 100%;
    height: 100vh;
  }
}
