.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #71baaa;
}

.sky {
  background-image: url('../../assets/background/sky.png');
  width: 100%;
  height: 50%;
  background-repeat: repeat-x;
  background-size: contain;
  image-rendering: crisp-edges;
  z-index: 10;
}

.moon {
  background-image: url('../../assets/background/moon.png');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: crisp-edges;
  position: absolute;
  top: -680px;
  left: 20%;
  z-index: -1;
  filter: drop-shadow(8px 8px 5px #333);
  transition: all 0.5s ease-in-out 0s;
  animation: bgElems1 5s infinite;
}

.moonShown {
  top: 200px;
  left: 20%;
  z-index: 1;
}

.clouds,
.secondaryClouds {
  background-image: url('../../assets/background/clouds.png');
  width: 100%;
  height: 30%;
  background-repeat: repeat-x;
  background-size: contain;
  image-rendering: crisp-edges;
  margin-top: -200px;
  animation: clouds 5s infinite;
}

.clouds {
  z-index: 9;
}

.secondaryClouds {
  background-position: -50px;
  animation: clouds1 5s infinite;
  z-index: 8;
}

.sea,
.sea1 {
  background-image: url('../../assets/background/sea.png');
  width: 100%;
  height: 20%;
  background-repeat: repeat-x;
  background-size: contain;
  image-rendering: crisp-edges;
  margin-top: -45px;
}

.sea {
  animation: sea 8s infinite;
}

.sea1 {
  animation: sea1 8s infinite;
}

.grounds,
.grounds1 {
  background-image: url('../../assets/background/far-grounds.png');
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: crisp-edges;
  position: absolute;
  bottom: 0;
}

.grounds {
  background-position: left;
}

.grounds1 {
  background-position: right;
  bottom: -20px;
}

.flyingRock,
.flyingTree,
.flyingHugeGround1,
.flyingHugeGround2,
.flyingHugeGround3,
.flyingHugeGround4,
.flyingHugeGround2__a,
.flyingHugeGround2__b {
  background-image: url('../../assets/background/tileset.png');
  overflow: hidden;
  background-repeat: no-repeat;
}

.flyingRock {
  position: absolute;
  height: 100px;
  width: 100px;
  background-position: -42px -9px;
  top: 93px;
}

.flyingTree {
  position: absolute;
  height: 119px;
  width: 130px;
  background-position: -188px -46px;
}

.rockTree1 {
  position: relative;
  animation: bgElems1 5s infinite;

  &__wrapper {
    position: absolute;
    right: 100px;
    bottom: 40px;
    width: 200px;
    height: 200px;
  }
}

.rockTree2 {
  position: relative;
  animation: bgElems2 5s infinite;

  &__wrapper {
    position: absolute;
    left: 120px;
    bottom: 0;
    width: 200px;
    height: 200px;
  }
}

.rockTree3 {
  position: relative;
  animation: bgElems3 15s alternate infinite ease-in-out;

  &__wrapper {
    position: absolute;
    bottom: 200px;
    left: 100px;
    width: 200px;
    height: 200px;
    animation: bgElems3a 255s infinite linear;
  }
  .flyingHugeGround1 {
    position: absolute;
    width: 63px;
    height: 107px;
    background-position: -322px -38px;
  }

  .flyingHugeGround2,
  .flyingHugeGround2__a,
  .flyingHugeGround2__b {
    position: absolute;
    width: 18px;
    height: 107px;
    background-position: -399px -38px;
    left: 60px;
  }

  .flyingHugeGround2 {
    &__a {
      left: 75px;
    }

    &__b {
      left: 90px;
    }
  }

  .flyingHugeGround3 {
    position: absolute;
    width: 63px;
    height: 107px;
    background-position: -432px -38px;
    left: 105px;
  }

  .flyingHugeGround4 {
    position: absolute;
    width: 130px;
    height: 119px;
    background-position: -188px -46px;
    top: -108px;
    left: 22px;
  }
}

.dino1Wrapper,
.dino2Wrapper,
.dino3Wrapper {
  position: absolute;
  top: 93px;
  left: 40px;
  width: 20px;
  height: 20px;
  overflow: hidden;

  img {
    animation: moveDino 1s steps(4) infinite;
  }
}

.dino2Wrapper {
  top: -14px;
}

.dino3Wrapper {
  left: 16px;
}

.dark {
  .sky,
  .clouds,
  .secondaryClouds,
  .sea,
  .sea1,
  .grounds,
  .grounds1 {
    filter: brightness(0.3);
  }
}

@media (max-width: 500px) {
  .rockTree1 {
    &__wrapper {
      display: none;
    }
  }

  .grounds {
    display: none;
  }

  .clouds,
  .secondaryClouds {
    margin-top: -180px;
  }
}

@keyframes clouds {
  0% {
    background-position: -50px 10px;
  }
  50% {
    background-position: -30px 0px;
  }

  100% {
    background-position: -50px 10px;
  }
}

@keyframes clouds1 {
  0% {
    background-position: 10px -15px;
  }
  50% {
    background-position: -10px 0px;
  }

  100% {
    background-position: 10px -15px;
  }
}

@keyframes sea {
  0% {
    background-position: -5px 10px;
  }
  50% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -5px 10px;
  }
}

@keyframes sea1 {
  0% {
    background-position: 0px 10px;
  }
  50% {
    background-position: 20px 0px;
  }
  100% {
    background-position: 0px 10px;
  }
}

@keyframes bgElems1 {
  0% {
    margin-top: -8px;
  }

  50% {
    margin-top: 0px;
  }

  100% {
    margin-top: -8px;
  }
}

@keyframes bgElems2 {
  0% {
    margin-top: -25px;
  }

  50% {
    margin-top: 0px;
  }

  100% {
    margin-top: -25px;
  }
}

@keyframes bgElems3 {
  to {
    transform: translatey(150px);
  }
}

@keyframes bgElems3a {
  0% {
    transform: translatex(0%);
  }
  50% {
    transform: translatex(800%);
  }
  100% {
    transform: translatex(0%);
  }
}

@keyframes moveDino {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-99px, 0, 0);
  }
}

@media (max-width: 560px) {
  .moon {
    top: 30px;
  }
}
